**Libraries**

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing
import warnings# warning filter


#ploting libraries
import matplotlib.pyplot as plt
import seaborn as sns
#feature engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

#train test split
from sklearn.model_selection import train_test_split

#metrics
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score as R2
from sklearn.model_selection  import cross_val_score as CVS


#ML models
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Lasso

In [ ]:
!unzip '/content/Data_companies.zip'

Archive:  /content/Data_companies.zip
replace companies.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: companies.csv

In [ ]:
df=pd.read_csv('/content/companies.csv')

In [ ]:
df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [ ]:
df.tail()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
196548,c:99940,196548,Company,99940,NaN,Webgility,webgility,/company/webgility,ecommerce,operating,...,2013-08-12,2013-08-12,2.0,5.0,NaN,2011-09-06 23:17:56,2013-08-13 00:39:13,37.774929,-122.419415,NaN
196549,c:9995,196549,Company,9995,NaN,FohBoh,fohboh,/company/fohboh,public_relations,operating,...,2013-05-01,2013-05-01,1.0,14.0,NaN,2008-08-24 15:46:26,2013-06-28 20:55:30,37.338208,-121.886329,NaN
196550,c:9996,196550,Company,9996,NaN,CSC,csc,/company/csc,consulting,operating,...,2012-01-01,2013-10-30,3.0,44.0,NaN,2008-08-24 15:46:58,2013-06-28 20:52:01,38.882334,-77.171091,NaN
196551,c:9997,196551,Company,9997,NaN,Top-candidate,top candidate,/company/top-candidate,search,operating,...,NaN,NaN,NaN,1.0,NaN,2008-08-24 16:00:22,2013-06-28 20:56:44,34.052234,-118.243685,NaN
196552,c:9998,196552,Company,9998,NaN,Closet Couture,closet couture,/company/closet-couture,ecommerce,operating,...,2006-07-01,2008-09-10,2.0,1.0,NaN,2008-08-24 16:46:13,2013-03-23 12:01:50,34.035633,-118.515590,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196531 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

**Realizations**
* 196553 entries and 44 columns

In [ ]:
print(f"companies set (row, col): {df.shape}")

companies set (row, col): (196553, 44)

**PreProcessing**

In [ ]:
df.describe()

,Unnamed: 0.1,entity_id,parent_id,logo_width,logo_height,investment_rounds,invested_companies,funding_rounds,funding_total_usd,milestones,relationships,lat,lng,ROI
count,196553.000000,196553.000000,0.0,110110.000000,110110.000000,2591.000000,2591.000000,31707.000000,2.787400e+04,91699.000000,129667.000000,83852.000000,83852.000000,726.000000
mean,98276.000000,153006.227333,NaN,459.132685,222.728917,2.372057,2.204940,1.659760,1.481652e+07,1.199402,2.852067,37.564512,-52.123066,45.745037
std,56740.108067,90209.250941,NaN,594.982577,333.090722,12.173510,11.436955,1.201666,6.775937e+07,0.540099,9.100309,15.477102,70.049067,572.035638
min,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,2.910000e+02,1.000000,1.000000,-50.942326,-159.497746,0.011111
25%,49138.000000,59850.000000,NaN,192.000000,70.000000,1.000000,1.000000,1.000000,5.000000e+05,1.000000,1.000000,34.052234,-111.940005,2.648879
50%,98276.000000,174539.000000,NaN,267.000000,105.000000,1.000000,1.000000,1.000000,2.564500e+06,1.000000,1.000000,39.768403,-77.036871,6.500497
75%,147414.000000,232655.000000,NaN,484.000000,232.000000,1.000000,1.000000,2.000000,1.100000e+07,1.000000,3.000000,45.421530,-0.127758,13.549900
max,196552.000000,286215.000000,NaN,18200.000000,9600.000000,478.000000,459.000000,15.000000,5.700000e+09,9.000000,1189.000000,77.553604,176.212549,13333.333333

**Missing Values**

In [ ]:
#missing values in decsending order
print("companies:\n")
print(df.isnull().sum().sort_values(ascending=False),"\n\n",df.isnull().sum()/df.shape[0] *100,"\n\n")

companies:

parent_id              196553
ROI                    195827
first_investment_at    193970
last_investment_at     193970
investment_rounds      193962
invested_companies     193962
closed_at              193933
short_description      189422
funding_total_usd      168679
last_funding_at        165046
first_funding_at       165046
funding_rounds         164846
state_code             145650
twitter_username       115962
tag_list               115101
lat                    112701
lng                    112701
city                   112663
country_code           108563
founded_at             105326
first_milestone_at     104854
milestones             104854
last_milestone_at      104854
description            104505
logo_height             86443
logo_width              86443
logo_url                86443
category_code           73367
homepage_url            70008
domain                  70008
overview                69582
relationships           66886
created_by              41020
normalized_name            26
name                       22
created_at                  0
entity_id                   0
entity_type                 0
updated_at                  0
permalink                   0
status                      0
region                      0
Unnamed: 0.1                0
id                          0
dtype: int64

 id                       0.000000
Unnamed: 0.1             0.000000
entity_type              0.000000
entity_id                0.000000
parent_id              100.000000
name                     0.011193
normalized_name          0.013228
permalink                0.000000
category_code           37.326828
status                   0.000000
founded_at              53.586564
closed_at               98.667026
domain                  35.617874
homepage_url            35.617874
twitter_username        58.997828
logo_url                43.979486
logo_width              43.979486
logo_height             43.979486
short_description       96.371971
description             53.168865
overview                35.401139
tag_list                58.559778
country_code            55.233448
state_code              74.102151
city                    57.319400
region                   0.000000
first_investment_at     98.685851
last_investment_at      98.685851
investment_rounds       98.681780
invested_companies      98.681780
first_funding_at        83.970227
last_funding_at         83.970227
funding_rounds          83.868473
funding_total_usd       85.818583
first_milestone_at      53.346426
last_milestone_at       53.346426
milestones              53.346426
relationships           34.029498
created_by              20.869689
created_at               0.000000
updated_at               0.000000
lat                     57.338733
lng                     57.338733
ROI                     99.630634
dtype: float64

In [ ]:
# saving missing values in a variable
a = df.isnull().sum()/len(df)*100

# saving column names in a variable
variables = df.columns
# new variable to store variables having missing values less than a threshold

variable = [ ]

for i in range(df.columns.shape[0]):
    if a[i]<=90: #setting the threshold as 40%
        variable.append(variables[i])

In [ ]:
print(variable)

['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'name', 'normalized_name', 'permalink', 'category_code', 'status', 'founded_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width', 'logo_height', 'description', 'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region', 'first_funding_at', 'last_funding_at', 'funding_rounds', 'funding_total_usd', 'first_milestone_at', 'last_milestone_at', 'milestones', 'relationships', 'created_by', 'created_at', 'updated_at', 'lat', 'lng']

In [ ]:
df_new=df[variable]
df_new.head()

,id,Unnamed: 0.1,entity_type,entity_id,name,normalized_name,permalink,category_code,status,founded_at,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
0,c:1,0,Company,1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071
1,c:10,1,Company,10,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467
2,c:100,2,Company,100,There,there,/company/there,games_video,acquired,NaN,...,NaN,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525
3,c:10000,3,Company,10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN
4,c:10001,4,Company,10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 36 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  196553 non-null  object
 1   Unnamed: 0.1        196553 non-null  int64
 2   entity_type         196553 non-null  object
 3   entity_id           196553 non-null  int64
 4   name                196531 non-null  object
 5   normalized_name     196527 non-null  object
 6   permalink           196553 non-null  object
 7   category_code       123186 non-null  object
 8   status              196553 non-null  object
 9   founded_at          91227 non-null   object
 10  domain              126545 non-null  object
 11  homepage_url        126545 non-null  object
 12  twitter_username    80591 non-null   object
 13  logo_url            110110 non-null  object
 14  logo_width          110110 non-null  float64
 15  logo_height         110110 non-null  float64
 16  description         92048 non-null   object
 17  overview            126971 non-null  object
 18  tag_list            81452 non-null   object
 19  country_code        87990 non-null   object
 20  state_code          50903 non-null   object
 21  city                83890 non-null   object
 22  region              196553 non-null  object
 23  first_funding_at    31507 non-null   object
 24  last_funding_at     31507 non-null   object
 25  funding_rounds      31707 non-null   float64
 26  funding_total_usd   27874 non-null   float64
 27  first_milestone_at  91699 non-null   object
 28  last_milestone_at   91699 non-null   object
 29  milestones          91699 non-null   float64
 30  relationships       129667 non-null  float64
 31  created_by          155533 non-null  object
 32  created_at          196553 non-null  object
 33  updated_at          196553 non-null  object
 34  lat                 83852 non-null   float64
 35  lng                 83852 non-null   float64
dtypes: float64(8), int64(2), object(26)
memory usage: 54.0+ MB

Missing values in new df

In [ ]:
df_new.isnull().sum().sort_values(ascending=False)

funding_total_usd     168679
last_funding_at       165046
first_funding_at      165046
funding_rounds        164846
state_code            145650
twitter_username      115962
tag_list              115101
lat                   112701
lng                   112701
city                  112663
country_code          108563
founded_at            105326
milestones            104854
last_milestone_at     104854
first_milestone_at    104854
description           104505
logo_url               86443
logo_width             86443
logo_height            86443
category_code          73367
domain                 70008
homepage_url           70008
overview               69582
relationships          66886
created_by             41020
normalized_name           26
name                      22
created_at                 0
updated_at                 0
entity_type                0
region                     0
entity_id                  0
permalink                  0
Unnamed: 0.1               0
status                     0
id                         0
dtype: int64

In [ ]:
df_new.isnull().sum()/df_new.shape[0] *100

id                     0.000000
Unnamed: 0.1           0.000000
entity_type            0.000000
entity_id              0.000000
name                   0.011193
normalized_name        0.013228
permalink              0.000000
category_code         37.326828
status                 0.000000
founded_at            53.586564
domain                35.617874
homepage_url          35.617874
twitter_username      58.997828
logo_url              43.979486
logo_width            43.979486
logo_height           43.979486
description           53.168865
overview              35.401139
tag_list              58.559778
country_code          55.233448
state_code            74.102151
city                  57.319400
region                 0.000000
first_funding_at      83.970227
last_funding_at       83.970227
funding_rounds        83.868473
funding_total_usd     85.818583
first_milestone_at    53.346426
last_milestone_at     53.346426
milestones            53.346426
relationships         34.029498
created_by            20.869689
created_at             0.000000
updated_at             0.000000
lat                   57.338733
lng                   57.338733
dtype: float64

In [ ]:
df_new.columns

Index(['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width',
       'logo_height', 'description', 'overview', 'tag_list', 'country_code',
       'state_code', 'city', 'region', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'lat', 'lng'],
      dtype='object')

In [ ]:
#Irrelavent
df_new=df_new.drop(['id','Unnamed: 0.1','description'], axis=1)
df_new

,entity_type,entity_id,name,normalized_name,permalink,category_code,status,founded_at,domain,homepage_url,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
0,Company,1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,wetpaint-inc.com,http://wetpaint-inc.com,...,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071
1,Company,10,Flektor,flektor,/company/flektor,games_video,acquired,NaN,flektor.com,http://www.flektor.com,...,NaN,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467
2,Company,100,There,there,/company/there,games_video,acquired,NaN,there.com,http://www.there.com,...,NaN,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525
3,Company,10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,mywebbo.com,http://www.mywebbo.com,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN
4,Company,10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,themoviestreamer.com,http://themoviestreamer.com,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,Company,99940,Webgility,webgility,/company/webgility,ecommerce,operating,2007-01-01,webgility.com,http://www.webgility.com,...,NaN,2013-08-12,2013-08-12,2.0,5.0,NaN,2011-09-06 23:17:56,2013-08-13 00:39:13,37.774929,-122.419415
196549,Company,9995,FohBoh,fohboh,/company/fohboh,public_relations,operating,2007-11-01,fohboh.com,http://www.fohboh.com,...,750000.0,2013-05-01,2013-05-01,1.0,14.0,NaN,2008-08-24 15:46:26,2013-06-28 20:55:30,37.338208,-121.886329
196550,Company,9996,CSC,csc,/company/csc,consulting,operating,1959-01-01,csc.com,http://www.csc.com,...,NaN,2012-01-01,2013-10-30,3.0,44.0,NaN,2008-08-24 15:46:58,2013-06-28 20:52:01,38.882334,-77.171091
196551,Company,9997,Top-candidate,top candidate,/company/top-candidate,search,operating,2008-07-01,top-candidate.com,http://www.top-candidate.com,...,NaN,NaN,NaN,NaN,1.0,NaN,2008-08-24 16:00:22,2013-06-28 20:56:44,34.052234,-118.243685
196552,Company,9998,Closet Couture,closet couture,/company/closet-couture,ecommerce,operating,2007-09-01,closetcouture.com,http://www.closetcouture.com,...,475000.0,2006-07-01,2008-09-10,2.0,1.0,NaN,2008-08-24 16:46:13,2013-03-23 12:01:50,34.035633,-118.515590

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   entity_type         196553 non-null  object
 1   entity_id           196553 non-null  int64
 2   name                196531 non-null  object
 3   normalized_name     196527 non-null  object
 4   permalink           196553 non-null  object
 5   category_code       123186 non-null  object
 6   status              196553 non-null  object
 7   founded_at          91227 non-null   object
 8   domain              126545 non-null  object
 9   homepage_url        126545 non-null  object
 10  twitter_username    80591 non-null   object
 11  logo_url            110110 non-null  object
 12  logo_width          110110 non-null  float64
 13  logo_height         110110 non-null  float64
 14  overview            126971 non-null  object
 15  tag_list            81452 non-null   object
 16  country_code        87990 non-null   object
 17  state_code          50903 non-null   object
 18  city                83890 non-null   object
 19  region              196553 non-null  object
 20  first_funding_at    31507 non-null   object
 21  last_funding_at     31507 non-null   object
 22  funding_rounds      31707 non-null   float64
 23  funding_total_usd   27874 non-null   float64
 24  first_milestone_at  91699 non-null   object
 25  last_milestone_at   91699 non-null   object
 26  milestones          91699 non-null   float64
 27  relationships       129667 non-null  float64
 28  created_by          155533 non-null  object
 29  created_at          196553 non-null  object
 30  updated_at          196553 non-null  object
 31  lat                 83852 non-null   float64
 32  lng                 83852 non-null   float64
dtypes: float64(8), int64(1), object(24)
memory usage: 49.5+ MB

In [ ]:
df_new.head()

,entity_type,entity_id,name,normalized_name,permalink,category_code,status,founded_at,domain,homepage_url,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
0,Company,1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,wetpaint-inc.com,http://wetpaint-inc.com,...,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071
1,Company,10,Flektor,flektor,/company/flektor,games_video,acquired,NaN,flektor.com,http://www.flektor.com,...,NaN,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467
2,Company,100,There,there,/company/there,games_video,acquired,NaN,there.com,http://www.there.com,...,NaN,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525
3,Company,10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,mywebbo.com,http://www.mywebbo.com,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN
4,Company,10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,themoviestreamer.com,http://themoviestreamer.com,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN

In [ ]:
df_new['first_funding_at']

0         2005-10-01
1                NaN
2                NaN
3                NaN
4                NaN
             ...
196548           NaN
196549    2008-08-25
196550           NaN
196551           NaN
196552    2008-06-01
Name: first_funding_at, Length: 196553, dtype: object

# Filling the missing values of DATETIME type columns using forward fill

In [ ]:
date_col = ['founded_at','first_milestone_at','last_milestone_at','created_at','updated_at','first_funding_at','last_funding_at']
for i in date_col:
  df_new[i].fillna(method='ffill',inplace = True)

**Convert datatype object to DateTime**

In [ ]:
df_new['founded_at']=pd.to_datetime(df_new['founded_at'])
df_new['first_milestone_at']=pd.to_datetime(df_new['first_milestone_at'])
df_new['last_milestone_at']=pd.to_datetime(df_new['last_milestone_at'])
df_new['created_at']=pd.to_datetime(df_new['created_at'])
df_new['updated_at']=pd.to_datetime(df_new['updated_at'])
df_new['first_funding_at']=pd.to_datetime(df_new['first_funding_at'])
df_new['last_funding_at']=pd.to_datetime(df_new['last_funding_at'])

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   entity_type         196553 non-null  object
 1   entity_id           196553 non-null  int64
 2   name                196531 non-null  object
 3   normalized_name     196527 non-null  object
 4   permalink           196553 non-null  object
 5   category_code       123186 non-null  object
 6   status              196553 non-null  object
 7   founded_at          196553 non-null  datetime64[ns]
 8   domain              126545 non-null  object
 9   homepage_url        126545 non-null  object
 10  twitter_username    80591 non-null   object
 11  logo_url            110110 non-null  object
 12  logo_width          110110 non-null  float64
 13  logo_height         110110 non-null  float64
 14  overview            126971 non-null  object
 15  tag_list            81452 non-null   object
 16  country_code        87990 non-null   object
 17  state_code          50903 non-null   object
 18  city                83890 non-null   object
 19  region              196553 non-null  object
 20  first_funding_at    196553 non-null  datetime64[ns]
 21  last_funding_at     196553 non-null  datetime64[ns]
 22  funding_rounds      31707 non-null   float64
 23  funding_total_usd   27874 non-null   float64
 24  first_milestone_at  196553 non-null  datetime64[ns]
 25  last_milestone_at   196553 non-null  datetime64[ns]
 26  milestones          91699 non-null   float64
 27  relationships       129667 non-null  float64
 28  created_by          155533 non-null  object
 29  created_at          196553 non-null  datetime64[ns]
 30  updated_at          196553 non-null  datetime64[ns]
 31  lat                 83852 non-null   float64
 32  lng                 83852 non-null   float64
dtypes: datetime64[ns](7), float64(8), int64(1), object(17)
memory usage: 49.5+ MB

In [ ]:
#DROPPING THE IRRELEVANT COLUMNS
df_new.drop(['normalized_name','permalink'],axis=1,inplace=True)
print(df_new.shape)

(196553, 31)

In [ ]:
df_new.columns

Index(['entity_type', 'entity_id', 'name', 'category_code', 'status',
       'founded_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'overview', 'tag_list', 'country_code',
       'state_code', 'city', 'region', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'lat', 'lng'],
      dtype='object')

**Filling the missing values of CATEGORICAL COLUMNS with the 'Unknown'**

In [ ]:
cat_col=['name','overview','tag_list','domain', 'homepage_url','twitter_username','logo_url']
for j in cat_col:
  df_new[j].fillna('Unknown',inplace=True)

check that columns

In [ ]:
df_new.head(10)

,entity_type,entity_id,name,category_code,status,founded_at,domain,homepage_url,twitter_username,logo_url,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
0,Company,1,Wetpaint,web,operating,2005-10-17,wetpaint-inc.com,http://wetpaint-inc.com,BachelrWetpaint,http://s3.amazonaws.com/crunchbase_prod_assets...,...,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071
1,Company,10,Flektor,games_video,acquired,2005-10-17,flektor.com,http://www.flektor.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2010-09-05,2013-09-18,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467
2,Company,100,There,games_video,acquired,2005-10-17,there.com,http://www.there.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525
3,Company,10000,MYWEBBO,network_hosting,operating,2008-07-26,mywebbo.com,http://www.mywebbo.com,Unknown,Unknown,...,NaN,2003-02-01,2011-09-23,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN
4,Company,10001,THE Movie Streamer,games_video,operating,2008-07-26,themoviestreamer.com,http://themoviestreamer.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2003-02-01,2011-09-23,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN
5,Company,10002,Synergie Media,advertising,operating,2007-06-27,synergie-media.com,http://www.synergie-media.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2003-02-01,2011-09-23,NaN,2.0,NaN,2008-08-24 17:39:10,2008-09-06 14:19:19,30.427755,-9.598107
6,Company,10003,Green Basti Ecosystems,cleantech,operating,2008-08-20,Unknown,Unknown,Unknown,Unknown,...,NaN,2003-02-01,2011-09-23,NaN,NaN,NaN,2008-08-24 19:49:25,2010-04-22 23:48:20,22.307159,73.181219
7,Company,100042,HostNine,NaN,operating,2008-08-20,hostnine.com,http://www.hostnine.com,Hostnine,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2011-06-20,2011-06-20,1.0,1.0,NaN,2011-09-07 00:53:17,2011-12-20 09:09:53,NaN,NaN
8,Company,10005,Thomas Publishing,advertising,operating,2008-08-20,thomaspublishing.com,http://www.thomaspublishing.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,1999-06-01,1999-06-01,1.0,2.0,NaN,2008-08-24 20:21:21,2009-11-19 17:21:00,40.712775,-74.005973
9,Company,100062,Vetter Idea Management System,enterprise,operating,2011-08-01,getvetter.com,http://www.getvetter.com,getvetter,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2011-08-01,2011-08-01,1.0,2.0,dmurtagh,2011-09-07 01:04:56,2011-09-24 13:13:18,NaN,NaN

**Filling the missing values of CATEGORICAL COLUMNS  with their  MODE values**

In [ ]:
cat_columns = ['category_code','country_code','state_code','city','created_by']

for i in cat_columns:
    mode_value = df[i].mode()[0]
    df_new[i].fillna(mode_value,inplace = True)

 Check That columns

In [ ]:
df_new.head()

,entity_type,entity_id,name,category_code,status,founded_at,domain,homepage_url,twitter_username,logo_url,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
0,Company,1,Wetpaint,web,operating,2005-10-17,wetpaint-inc.com,http://wetpaint-inc.com,BachelrWetpaint,http://s3.amazonaws.com/crunchbase_prod_assets...,...,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071
1,Company,10,Flektor,games_video,acquired,2005-10-17,flektor.com,http://www.flektor.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2010-09-05,2013-09-18,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467
2,Company,100,There,games_video,acquired,2005-10-17,there.com,http://www.there.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525
3,Company,10000,MYWEBBO,network_hosting,operating,2008-07-26,mywebbo.com,http://www.mywebbo.com,Unknown,Unknown,...,NaN,2003-02-01,2011-09-23,NaN,NaN,dhawalarco,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN
4,Company,10001,THE Movie Streamer,games_video,operating,2008-07-26,themoviestreamer.com,http://themoviestreamer.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,NaN,2003-02-01,2011-09-23,NaN,NaN,dhawalarco,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN

# Filling the missing values in the latitude and longitude columns

In [ ]:
df_new['lng'] = df_new['lng'].interpolate(method='linear')
df_new['lat'] = df_new['lat'].interpolate(method ='linear')

#Filling the missing values in Numerical columns

In [ ]:
num_cols = ['logo_width','logo_height','funding_rounds','funding_total_usd','milestones','relationships']

for i in num_cols:
    df_new[i].fillna(df_new[i].mean(),inplace = True)

In [ ]:
df_new.duplicated().sum()

0

Extracting Day, Month and Year from Date columns

In [ ]:
for col in df_new.columns:
    if df_new[col].dtype == 'datetime64[ns]':
        df_new[f'{col}_Day'] = df_new[col].dt.day
        df_new[f'{col}_Month'] = df_new[col].dt.month
        df_new[f'{col}_Year'] = df_new[col].dt.year

In [ ]:
df_new.head()

,entity_type,entity_id,name,category_code,status,founded_at,domain,homepage_url,twitter_username,logo_url,...,first_milestone_at_Year,last_milestone_at_Day,last_milestone_at_Month,last_milestone_at_Year,created_at_Day,created_at_Month,created_at_Year,updated_at_Day,updated_at_Month,updated_at_Year
0,Company,1,Wetpaint,web,operating,2005-10-17,wetpaint-inc.com,http://wetpaint-inc.com,BachelrWetpaint,http://s3.amazonaws.com/crunchbase_prod_assets...,...,2010,18,9,2013,25,5,2007,13,4,2013
1,Company,10,Flektor,games_video,acquired,2005-10-17,flektor.com,http://www.flektor.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,2010,18,9,2013,31,5,2007,23,5,2008
2,Company,100,There,games_video,acquired,2005-10-17,there.com,http://www.there.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,2003,23,9,2011,6,8,2007,4,11,2013
3,Company,10000,MYWEBBO,network_hosting,operating,2008-07-26,mywebbo.com,http://www.mywebbo.com,Unknown,Unknown,...,2003,23,9,2011,24,8,2008,6,9,2008
4,Company,10001,THE Movie Streamer,games_video,operating,2008-07-26,themoviestreamer.com,http://themoviestreamer.com,Unknown,http://s3.amazonaws.com/crunchbase_prod_assets...,...,2003,23,9,2011,24,8,2008,6,9,2008

In [ ]:
# Stats of numeric columns
numeric_columns = ['logo_width','logo_height','funding_rounds','funding_total_usd','milestones','relationships','lat','lng']
num_col_df = df_new[numeric_columns]
num_col_df.describe()

,logo_width,logo_height,funding_rounds,funding_total_usd,milestones,relationships,lat,lng
count,196553.000000,196553.000000,196553.000000,1.965530e+05,196553.000000,196553.000000,196553.000000,196553.000000
mean,459.132685,222.728917,1.659760,1.481652e+07,1.199402,2.852067,37.437087,-51.428830
std,445.324843,249.307424,0.482632,2.551658e+07,0.368905,7.391464,13.570808,62.255161
min,1.000000,1.000000,1.000000,2.910000e+02,1.000000,1.000000,-50.942326,-159.497746
25%,250.000000,97.000000,1.659760,1.481652e+07,1.000000,1.000000,34.170561,-97.743061
50%,459.132685,222.728917,1.659760,1.481652e+07,1.199402,2.852067,39.364283,-74.005973
75%,459.132685,222.728917,1.659760,1.481652e+07,1.199402,2.852067,44.137870,-1.890401
max,18200.000000,9600.000000,15.000000,5.700000e+09,9.000000,1189.000000,77.553604,176.212549

In [ ]:
#some outliers are present in logo_width ,logo_height,relationships that should be replaces with median

columns_with_outliers = ['logo_width','logo_height','relationships']

for i in columns_with_outliers:
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((df[i] < (Q1 - 1.5 * IQR)) | (df[i] > (Q3 + 1.5 * IQR)))
    median = df[i].median()
    df.loc[outliers, i] = median

**Label Encoding**

In [ ]:
le=LabelEncoder()
# Transforming categorical to numerical data
for col in df_new.columns:
    if df_new[col].dtype == 'object':
        df_new[col] = le.fit_transform(df_new[col])

In [ ]:
df_new.head()

,entity_type,entity_id,name,category_code,status,founded_at,domain,homepage_url,twitter_username,logo_url,...,first_milestone_at_Year,last_milestone_at_Day,last_milestone_at_Month,last_milestone_at_Year,created_at_Day,created_at_Month,created_at_Year,updated_at_Day,updated_at_Month,updated_at_Year
0,0,1,177738,41,3,2005-10-17,120718,30317,3076,732,...,2010,18,9,2013,25,5,2007,13,4,2013
1,0,10,58822,12,0,2005-10-17,40243,62354,24654,464,...,2010,18,9,2013,31,5,2007,23,5,2008
2,0,100,161743,12,0,2005-10-17,109492,112129,24654,827,...,2003,23,9,2011,6,8,2007,4,11,2013
3,0,10000,95656,25,3,2008-07-26,74284,86928,24654,0,...,2003,23,9,2011,24,8,2008,6,9,2008
4,0,10001,154931,12,3,2008-07-26,109272,27343,24654,5840,...,2003,23,9,2011,24,8,2008,6,9,2008